body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav > li {
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  max-width: 10em;
  list-style-type: none;
  padding: 13px 5px 10px;
  text-align: center;
}

nav > li.active {
  background-color: #ffffff;
  border-top: 3px solid #2f9597;
  padding-top: 10px;
}

.container {
  color: #092c54;
  max-width: 50em;
}

.content {
  background-color: #ffffff;
}

.tab {
  display: none;
  padding: 1em;
}

.tab.active {
  display: block;
}